* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	padding: 1rem;
	font-family: "Montserrat", sans-serif;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/* debug */
.debug > header {
	height: 100px;
}

.debug > main {
	height: 500px;
}

.debug > .sezione_primaria {
	height: 500px;
}

.debug > .sezione_intermedia {
	height: 100px;
}

.debug > .content {
	height: 500px;
}

.debug > .sidebar {
	height: 500px;
}

.debug > .maincontent {
	height: 500px;
}

.debug > .footer {
	height: 100px;
}
/* /debug */

/* #header */
#header {
	background-position: center;
	height: 100px;
	margin-bottom: 8%;
	margin-left: 25%;
}

.menu_list {
	margin-top: 2%;
}
/* /#header */

/* #main */
/* .sezione_primaria */
.sezione_primaria {
	margin-bottom: 1%;
}

.image_yoga {
	background-image: url(./images/banner.jpg);
	background-position: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	font-size: 1em;
	border-radius: 20px;
}

.text_image {
	padding-top: 20rem;
	padding-left: 30rem;
	color: white;
	font-weight: 900;
	font-size: 2rem;
}

.text-2_image {
	padding-left: 30rem;
	color: white;
	font-weight: 500;
}
/* /.sezione_primaria */

/* .sezione_intermedia */
.sezione_intermedia {
	background-color: white;
	height: 100px;
	margin-bottom: 1%;
	margin-left: 25%;
}
/* /.sezione_intermedia */

/* .sezione_con_tre_colonne */
.sidebar {
	width: 25%;
	padding: 1rem;
}

.image_left {
	background-image: url(./images/img-1.jpg);
	background-position: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	font-size: 1em;
	border-radius: 10px;
}

.text_left {
	font-weight: 900;
	color: #929292;
}

.maincontent {
	width: 48%;
	margin-right: 1%;
	margin-left: 1%;
}

.image_center {
	background-image: url(./images/banner-2.jpg);
	background-position: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	font-size: 1em;
	border-radius: 10px;
}

.text_center {
	font-weight: 900;
	color: #929292;
}

.image_right {
	background-image: url(./images/img-3.jpg);
	background-position: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	font-size: 1em;
	border-radius: 10px;
}

.text_right {
	font-weight: 900;
	color: #929292;
}

.sidebar,
.maincontent {
	float: left;
	padding: 1rem;
	height: 500px;
	margin-bottom: 1%;
}
/* /.sezione_con_tre_colonne */
/* /#main */

/* #footer */
.footer {
	height: 100px;
	margin-top: 1rem;
	text-align: center;
}

#heart {
	color: red;
	font-size: 25px;
}
/* /#footer */
