/* common_rules */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: auto;
	width: 70%;
	font-family: "Montserrat", sans-serif;
	color: gray;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.content{
	padding-bottom: 1rem;
}

.sidebar,
.maincontent {
	float: left;
}

.sidebar {
	width: 25%;
}

.maincontent {
	width: 48%;
	margin: 0 1%;
}

.image img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 0.5rem;
	filter: brightness(0.8);
}

.image > h3{
	font-weight: 400;
	color: black;
}

.content > p {
	font-size: 1rem;
	color: gray;
}
/* /common_rules */

/* debug */
.debug > header {
	height: 100px;
	background-color: aliceblue;
}

.debug > main {
	height: 1100px;
	background-color: aqua;
}

.debug > footer {
	height: 100px;
	background-color: darkgoldenrod;
}

.debug > .image_yoga {
	height: 500px;
	background-color: aquamarine;
}

.debug > .sezione_intermedia {
	height: 100px;
	background-color:coral;
}

.debug > .content {
	background-color: azure;
}

.debug > .sidebar {
	height: 500px;
	background-color: blue;
}

.debug > .maincontent {
	height: 500px;
	background-color: crimson;
}
/* /debug */

/* #site_header */
.logo {
	border-right: 1px solid grey;
	padding-right: 25px;
	resize: both;
	height: 90px;
	width: auto;
}

.menu_list {
	margin: 2rem 0;
}

.list_header {
	list-style: none;
}

.menu_list > ul > li {
	display: inline-block;
}

a {
	text-decoration: none;
	padding-right: 1rem;
	color: grey;
	font-size: 1rem;
}
/* /#site_header */

/* #site_main */

/* .image_yoga */
.image_yoga {
	background-image: url(./images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #d3d3d3a1;
	filter: brightness(0.9); 
	height: 500px;
	/* width: 100%; */
	border-radius: 1rem;
	margin: 1rem 0;
}

.text_image {
	padding-left: 4rem;
	padding-top: 18rem;
	color: white;
	width: 60%;
}

.text_image > h1 {
	font-weight: 400;
	font-size: 25px;
}

.text_image > p{
	font-size: 15px;
}
/* /.image_yoga */

/* .sezione_intermedia */
.sezione_intermedia {
	margin: 2rem 0;
}

.sezione_intermedia > h2 {
	font-size: 2.5rem;
	font-weight: 600;
	font-family: Arial, Helvetica, sans-serif;
}
/* /.sezione_intermedia */

/* .sezione_con_tre_colonne */
.sidebar {
	width: 25%;
}

.maincontent {
	width: 50%;
	margin: 0;
}
/* /.sezione_con_tre_colonne */
/* /#main */

/* #site_footer */
footer {
	margin-top: 1rem;
}

.row_footer {
	text-align: center;
}

footer i{
	color: red;
}
/* /#site_footer */
